#Ignore compiled binaries
*.o
*.out
a.out
hello
variables
calculator
converter
diamond_pattern
fizzBuzz
grade
guessing_game
loops
pattern
prime_number
reverse
right_aligned_triangle
sum_of_digit
sum_of_first_N_numbers
